@import "../_variables"
@import "/bower_components/bootstrap-stylus/stylus/mixins"

.lesson-details-container
  background $brand-info-bg
  width 100%
  padding 0
  margin 0
  z-index 10000
  position relative
  top - 1px

.lesson-details
  // Close details button
  .close-btn
    float right
    margin 15px 15px 0 0
    position relative
    z-index 10000

  // Navigation icons
  .lesson-info-icons-cont
    float: left
    width: 50px
    margin 8px 0 10px -50px

    ul.lesson-info-icons
      list-style-type none
      margin 0 0 0 16px
      padding 0
      li
        margin 10px 0 0 0
        padding 0
        a
          border-radius 5px
          padding 21px 4px 1px 4px
        &.active
          a
            background $brand-info

  // Information about class
  .lesson-info-data
    padding 15px 25px
    .lesson-info-header
      font-size $font-size-large
      .lesson-name
        margin-right 10px
      .lesson-place
        margin-left 10px
        color $brand-info

    .lesson-lecturer
      margin-left 1px
      cursor pointer

  // Attacments
  .lesson-info-files
    padding 15px 25px

    // Navigation
    .lesson-info-files-header
      .att-label
        font-size $font-size-large
        vertical-align middle

      .upload-cont
        display inline-block
        position relative

        .upload-dropdown
          position absolute
          top 35px
          left 18px
          z-index 10000

          ul.att-types
            list-style-type none
            margin 10px 0 0 10px
            padding 0
            li
              float left
              padding 3px 10px
              color $link-color
              cursor pointer
              &:hover
                color $link-hover-color
              &.current
                background $brand-info
                color #fff

          ul.att-sub-types
            border 2px solid lighten($brand-primary, 80%)
            margin -10px 0 0 0
            padding 40px 0 5px 0
            list-style-type none
            background #fff
            border-radius 5px
            min-width 147px
            li
              padding 3px 15px
              color $link-color
              cursor pointer
              position relative
              overflow hidden
              input
                top 0
                left 0
                opacity 0
                font-size 18px
                position absolute
                outline none
              &:hover
                background $link-hover-color
                color #fff


        .add-btn
          display inline-block
          margin-top 5px
          padding 0 5px
          margin-left 10px
          vertical-align middle
          &:hover
            text-decoration none
          i
            vertical-align middle
          span
            margin-left 5px
            vertical-align middle


    .attachments
      margin 10px 0 0 1px
      .file-cont
        margin 0 0 10px 0
        .file-header
          font-size $font-size-medium
          .file-name
            text-decoration underline
          .file-size
            font-weight 500
            margin-left 15px
          .file-date
            margin-left 15px
            font-weight 200
            opacity 0.3
        &:hover
          .file-header
            .file-date
              opacity 1
        .file-descr
          font-size $font-size-medium
          font-weight 100
          color lighten($brand-primary, 10%)
          letter-spacing 1px