@import "../_variables"
@import "/bower_components/bootstrap-stylus/stylus/mixins"

$info-nav-bg ?= darken($brand-info-bg, 10%)
$info-nav-height ?= 35px


.event-editor
  background $brand-info-bg
  margin-bottom 15px
  position relative
  min-height 320px

  .editor-row
    padding 0 15px
    margin-bottom -15px

  textarea#descr
    height 138px
    resize none

  .select-cell
    text-align center
    &>span
      margin-top 60px
      margin-bottom 30px
      display block
      text-align center
      font-size $font-size-medium

  .add-btn-col
    margin-top -64px

  .preview
    text-align center

    .subject
      margin 0 0 10px 0
      padding 0
      font-size $font-size-large
      font-weight 500

    .single
      display block

    .value
      font-weight 300
      color lighten($text-color, 40%)
      .value-itm
        color lighten($text-color, 20%)
        font-size $font-size-medium
        font-weight 500
        text-decoration underline

    .enter-line
      margin-bottom 10px

  .thanks-wnd
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background $brand-info-bg
    text-align center
    .wrapper
      margin-top -130px
      top 50%
      margin-left -175px
      left 50%
      text-align center
      position absolute
      width 350px
      height 250px

      h2
        font-size $font-size-large*2

      p
        margin 30px 0

      .notify
        background $brand-primary
        color #fff
        padding 10px 20px

    .buttons
      position absolute
      left 0
      right 0
      bottom 0
      height 54px
      border-top 2px solid darken($brand-info-bg, 12%)
      background darken($brand-info-bg, 5%)
      padding 15px
      a
        padding 10px 20px
        margin-left 20px
        background $brand-info
        color #fff


  .editor-switcher
    margin-bottom 18px
    ul
      height $info-nav-height
      overflow hidden
      background $info-nav-bg
      list-style-type none
      margin 0
      padding 0

      li:first-child + li
        border-left 1px solid $brand-info-bg
        border-right 1px solid $brand-info-bg

      li
        float left
        text-align center
        width 33.3333%
        height $info-nav-height
        line-height $info-nav-height
        a
          text-decoration none
          display block
          i
            vertical-align middle
          span
            margin-left 5px
            vertical-align middle

        &.current
          a
            color #fff
            background $brand-info

