@import "../_variables"

.tests-and-exams
  font-family: "Helvetica Light"
  max-width: 750px
  margin: 0 auto 20px
  #test-title
    color: #4b5456
    font-size: 1.6em
    display: block
    margin-bottom: 15px
  #exam-title
    color: #4b5456
    font-size: 1.6em
    display: block
    margin: 25px 0 15px
  .info
    .date
      font-family: Arial
      font-size: 1.3em
      font-weight: 700
      color: #4b5456
      margin-right: 15px
    .time
      font-size: 1.1em
      color: #4b5456
      margin-right: 15px
    .name
      font-size: 1.3em
      color: #f16520
      margin-right: 15px
    .teacher
      font-size: 1.3em
      font-style: oblique
      color: #aaaaaa
      margin-right: 15px
    .audit
      font-size: 1.1em
      color: #4b5456