@import "../_variables"


@media $media-max-phone
  .tests-and-exams
    font-size $font-size-medium

    .session-part
      h2
        text-align center
        font-size $font-size-medium
        font-weight 600
        margin-top 15px

      .started
        opacity 0.4
        & *
          text-decoration none !important
          color #aaa !important

      .info
        & *:hover
          text-decoration none
          .name
            text-decoration underline

        a
          display block
          text-align center
          padding 9px 0
          border-bottom 1px solid $sched-border-color

          .date
            font-size $font-size-large
            font-weight 500
            color $brand-primary

          .time
            font-weight 300
            padding-left 15px
            color $brand-primary

          .name
            display block
            font-weight 400
            padding-left 15px
            &:hover
              text-decoration underline

          .teacher
            font-weight 300
            padding-left 15px
            color lighten($brand-primary, 70%)

          .audit
            color $brand-info
            padding-left 15px
            font-weight 500


@media $media-min-tablet
  .tests-and-exams
    font-size $font-size-medium

    .session-part
      h2
        font-size $font-size-large
        font-weight 400
        margin-top 45px

      .started
        opacity 0.4
        & *
          text-decoration none !important
          color #aaa !important

      .info
        & *:hover
          text-decoration none
          .name
            text-decoration underline

        a
          padding 9px 0

          .date
            font-size $font-size-large
            font-weight 500
            color $brand-primary

          .time
            font-weight 300
            padding-left 15px
            color $brand-primary

          .name
            font-weight 400
            padding-left 15px
            &:hover
              text-decoration underline

          .teacher
            font-weight 300
            padding-left 15px
            color lighten($brand-primary, 70%)

          .audit
            color $brand-info
            padding-left 15px
            font-weight 500