@import "../_variables"
@import "/bower_components/bootstrap-stylus/stylus/mixins"

// Navigation
.schedule-header
  user-select(none)
  .navbar
    background: #fff
    border none
    height 35px
    min-height 35px
    margin-bottom 0

    // Remove link decoration
    a
      &:active, &:hover, &.active
        text-decoration none

    // Back to groups list button
    .back-btn
      cursor pointer
      padding 0 15px 0 0
      font-size $font-size-large
      font-weight 400
      white-space nowrap
      .back-logo-square
        float left
        margin-top -1px
        height 36px
        background $brand-info
        padding 4px
        color #fff
      .group-name
        margin-left 10px
      &:hover
        .back-logo-square
          background darken($brand-info, 20%)
        .group-name
          color darken($link-color, 25%)

    // Update indicator
    .schedule-updated-text
      margin 0
      padding 0
      font-size $font-size-medium
      color #aaa
      font-weight 100
      vertical-align middle
      line-height: 35px;
      letter-spacing 1px
      white-space nowrap

    // Next week button
    .next-week-btn
      font-size $font-size-medium
      font-weight 200
      font-size-adjust 2px
      cursor pointer
      white-space nowrap

      span
        vertical-align middle
      .fa
        vertical-align middle
        font-size 35px
        font-weight 600
        margin-left 8px

#schedule-greed
  user-select(none)

  // Week parity handling
  &.week-even
    .lesson-parity-1
      opacity 0.2
  &.week-odd
    .lesson-parity-2
      opacity 0.2

  // Desktop schedule
  .lessons-desktop
    .lessons-row
      // Class number
      .lesson-time-wrapper
        float left
        height: 50px
        width: 50px
        margin-left - 50px
        color $brand-primary
        text-align center
        padding 15px 0

        .lesson-time
          height: 50px
          width: 50px
          margin-left 10px
          opacity 0.4
          &.current
            color: $brand-warning
            opacity 1

          .lesson-time-number, .lesson-time-start
            margin: 0

      // Maker hovered row class number more visible
      &:hover
        .lesson-time
          opacity 1

      // Main cell style
      .lesson-cell
        position relative
        border-bottom: 1px solid lighten($brand-info, 82%)
        overflow: hidden
        height: 64px
        text-align center
        font-size $font-size-medium
        &:active, &:hover, &.active
          cursor: pointer
        &.current
          border: 1px solid $brand-warning

        // Arrow when details showed
        .arrow
          left 50%
          position absolute
          z-index 10000
          bottom 0px
          margin-left -12px

        // Atom class positioning
        .lesson-atom-cell
          position absolute
          border-left 1px solid lighten($brand-info, 82%)
          border-right 1px solid lighten($brand-info, 82%)
          padding 0 10px
          overflow hidden

          &:hover
            background lighten($brand-info-bg, 80%)

          .lesson-name
            font-weight 300
            white-space nowrap
            color #4b5456

          .lesson-place
            color #3baba1
            margin-left 10px

        .lesson-parity-0
          height 64px
          line-height 64px
        .lesson-parity-1
          background #fff
          line-height 32px
          font-size $font-size-base
          top 0
          bottom 31px
          border-bottom 1px solid lighten($brand-info, 82%)
        .lesson-parity-2
          line-height 32px
          font-size $font-size-base
          top 31px
          bottom 0
          border-top 1px solid lighten($brand-info, 82%)
        .lesson-half-0
          left - 2px
          right - 2px
        .lesson-half-1
          background #fff
          left - 2px
        .lesson-half-2
          background #fff
          right - 2px

      @media (min-width: 768px)
        .lesson-cell
          width 211px
          .lesson-half-1
            right 105px
          .lesson-half-2
            left 105px

      @media (min-width: 992px)
        .lesson-cell
          width 281px
          .lesson-half-1
            right 140px
          .lesson-half-2
            left 140px

    // Rounded dow corners
    > :first-child + div.lessons-row
      .lesson-cell
        border-top: 1px solid lighten($brand-info, 82%)
    > :last-child
      .lesson-cell
        border-bottom: 0


    // Day of week
    .lesson-cell-title
      margin 45px 0 30px 0
      font-size $font-size-large
      text-align: center

      .lesson-cell-title-day
        text-align: center
        padding: 5px
        color: #4b5456

      .lesson-cell-title-date
        display: inline-block;
        width: 50px;
        margin-right: -55px;
        font-size $font-size-base
        color lighten(#brand-primary, 30%)
        font-weight 100

      &.current
        .lesson-cell-title-day
          border-radius: 5px
          background: $brand-warning
          color: #fff
          padding: 7px 20px;
        .lesson-cell-title-date
          color: $brand-primary
          font-weight 300

  // Mobile schedule
  .lessons-mobile
  .lesson-cell-mobile
    border-left: none
    border-right: none

  .lesson-cell-mobile-bottom
    border-bottom: 1px solid #f5f8fa

  .lesson-time-mobile
    margin-left: 0

.lesson-details-container
  overflow hidden
  background $brand-info-bg
  width 100%
  padding 0
  margin 0
  z-index 10000
  position relative
  top -1px

.lesson-details
  .lesson-info-icons
    margin 0 0 0 - 37px
    padding 15px 0
    float: left
    width: auto
    height: 100%
    a
      margin: 0 0 10px 0
  .lesson-info-data
    padding 15px 25px
    float: left
    .lesson-name
      font-size: 17pt
      color: #444444
    .lesson-lecturer
      color: #207E62
      cursor: pointer
    .lesson-start-time
      font-size: 14pt
      color: #444444
  .lesson-info-files
    float: left
    display: inline-block
    padding: 12px 0 0 30px
    width: 90% /*Temp*/
    .lesson-info-files-header
      width: 100%
      h4
        display: inline-block
        margin: 0 10px 0 0
      #search-teacher
        width: 250px
        height: 30px
    .lesson-info-file-search
      width: 100%
      height: 40px
      padding: 10px 0 0 0
      select
        float: left
        width: 20%
        height: 30px
      input
        float: left
        width: 60%
        height: 30px
    .lesson-info-file-block
      height: 55px
      border: 2px #929292 solid
      border-radius: 5px
      background-color: #FFFFFF
      margin: 10px 10px 0 0
      float: left
      .btn-edit
        float: right
        margin: 2px
      .file-name
        float: left
        padding: 0 10px 0 10px
        margin-top: 5px
        border-right: 1px solid #606060
        color: #207E62
        cursor: pointer
      .file-size
        float: left
        padding: 5px 0 0 10px
        color: #606060
      .file-comment
        float: left
        padding: 3px 0 0 10px
        color: #7A7A7A
      &:hover
        background-color: #F7F6F6

.tests-and-exams
  font-family: "Helvetica Light"
  max-width: 750px
  margin: 0 auto 20px
  #test-title
    color: #4b5456
    font-size: 1.6em
    display: block
    margin-bottom: 15px
  #exam-title
    color: #4b5456
    font-size: 1.6em
    display: block
    margin: 25px 0 15px
  .info
    .date
      font-family: Arial
      font-size: 1.3em
      font-weight: 700
      color: #4b5456
      margin-right: 15px
    .time
      font-size: 1.1em
      color: #4b5456
      margin-right: 15px
    .name
      font-size: 1.3em
      color: #f16520
      margin-right: 15px
    .teacher
      font-size: 1.3em
      font-style: oblique
      color: #aaaaaa
      margin-right: 15px
    .audit
      font-size: 1.1em
      color: #4b5456
