@import "../_variables"
@import "/bower_components/bootstrap-stylus/stylus/mixins"

.schedule-header
  background: #f0f0f0
  .navbar
    max-height: 50px
    overflow: hidden
    .navbar-header
      padding: 0 15px 15px 0
    .navbar-brand
      padding: 15px 15px 15px
      &:active, &:hover, &.active
        color: #000000
    .navbar-link
      padding: 15px 20px 0 0
      text-decoration: none
      color: #00A000
      &:active, &:hover, &.active
        color: #000000
    .navbar-text
      padding: 3px 130px
  .btn
    margin-top: 7px

#schedule-greed
  > .title
  .lesson-cell
    border: 1px solid #f0f0f0
    border-bottom: none
    overflow: hidden
    min-height: 50px
    &:active, &:hover, &.active
      cursor: pointer
    &.current
      border: 1px solid #FF6600
  .lesson-cell-mobile
    border-left: none
    border-right: none
    &.current
      border-left: none
      border-right: none
  .lesson-cell-top
    border-radius: 10px 10px 0 0
  .lesson-cell-bottom
    border-bottom: 1px solid #f0f0f0
    border-radius: 0 0 10px 10px
  .lesson-cell-mobile-bottom
    border-bottom: 1px solid #f0f0f0
  .lesson-cell-title
    border: none
    &:active, &:hover, &.active
      cursor: default
  .lesson-cell-title-day
    text-align: center
    padding: 5px
    margin: 10px 40px
    color: #000000
    &.current
      border-radius: 10px 10px 10px 10px
      background: #FF6600
      color: #FFFFFF
  .lesson-cell-title-date
    text-align: right
    margin: -10% 0
    color: #FFFFFF
    &.current
      color: #000000
  .lesson-time
    float: left
    max-height: 50px
    max-width: 50px
    margin-left: -5%
  .lesson-time-mobile
    margin-left: 0
  .lesson-time-number
    text-align: center
    margin: 30% -30% -30% 60%
    color: #000000
    &.current
      color: #FF6600
  .lesson-time-start
    text-align: right
    margin-left: 50%
    color: #000000
    &.current
      color: #FF6600

.lesson-details-container
  overflow hidden
  background: #ebebeb
  width: 100%
  padding 0
  margin 0

.lesson-details
  .lesson-info-icons
    margin 0 0 0 -37px
    padding 15px 0
    float: left
    width: auto
    height: 100%
    a
      margin: 0 0 10px 0
  .lesson-info-data
    padding 15px 25px
    float: left
    .lesson-name
      font-size: 17pt
      color: #444444
    .lesson-lecturer
      color: #207E62
      cursor: pointer
    .lesson-start-time
      font-size: 14pt
      color: #444444
  .lesson-info-files
    float: left
    display: inline-block
    padding: 12px 0 0 30px
    width: 90% /*Temp*/
    .lesson-info-files-header
      width: 100%
      h4
        display: inline-block
        margin: 0 10px 0 0
      input
        width: 250px
        height: 30px
    .lesson-info-file-search
      width: 100%
      height: 40px
      padding: 10px 0 0 0
      select
        float: left
        width: 130px
        height: 30px
      input
        float: left
        width: 470px
        height: 30px
    .lesson-info-file-block
      width: 360px
      height: 55px
      border: 2px #929292 solid
      border-radius: 5px
      background-color: #FFFFFF
      margin: 10px 10px 0 0
      float: left
      .btn-edit
        float: right
        margin: 2px
      .file-name
        float: left
        padding: 0 10px 0 10px
        margin-top: 5px
        border-right: 1px solid #606060
        color: #207E62
        cursor: pointer
      .file-size
        float: left
        padding: 5px 0 0 10px
        color: #606060
      .file-comment
        float: left
        padding: 3px 0 0 10px
        color: #7A7A7A
      &:hover
        background-color: #F7F6F6
