@import _variables
@import "/bower_components/bootstrap-stylus/stylus/mixins"

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html
  height 100%

body
  min-height 100%
  position relative

#wrap
  padding-bottom $footer-height + 20

.footer
  position absolute
  bottom 0
  left 0
  right 0
  height $footer-height
  margin 0
  clear both
  border-top 1px solid $panel-inner-border
  padding 10px 0

@media $screen-tablet-media-q
  .footer
    display none

  #wrap
    min-height 0 !important
    height auto !important

  .overthrow-enabled.standalone
    .overthrow
      overflow auto;
      -webkit-overflow-scrolling touch;
      position absolute
      top $navbar-height
      left 0
      right 0
      bottom 0