@keyframes empty {
  from {
    -webkit-transform translateX(0)
  }
  to {
    -webkit-transform translateX(0)
  }
}

@-webkit-keyframes empty {
  from {
    -webkit-transform translateX(0)
  }
  to {
    -webkit-transform translateX(0)
  }
}

@-moz-keyframes empty {
  from {
    -webkit-transform translateX(0)
  }
  to {
    -webkit-transform translateX(0)
  }
}

@-o-keyframes empty {
  from {
    -webkit-transform translateX(0)
  }
  to {
    -webkit-transform translateX(0)
  }
}

/**
* Slide in from left
*/
@keyframes slideInLeft {
  from {
    -webkit-transform translateX(100%)
  }
  to {
    -webkit-transform translateX(0)
  }
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform translateX(100%)
  }
  to {
    -webkit-transform translateX(0)
  }
}

@-moz-keyframes slideInLeft {
  from {
    -webkit-transform translateX(100%)
  }
  to {
    -webkit-transform translateX(0)
  }
}

@-o-keyframes slideInLeft {
  from {
    -webkit-transform translateX(100%)
  }
  to {
    -webkit-transform translateX(0)
  }
}

/**
* Slide out right
*/
@keyframes slideOutRight {
  from {
    -webkit-transform translateX(0)
  }
  to {
    -webkit-transform translateX(-30%)
  }
}

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform translateX(0)
  }
  to {
    -webkit-transform translateX(-30%)
  }
}

@-moz-keyframes slideOutRight {
  from {
    opacity 1
    -webkit-transform translateX(0)
  }
  to {
    opacity 0
    -webkit-transform translateX(-30%)
  }
}

@-o-keyframes slideOutRight {
  from {
    opacity 1
    -webkit-transform translateX(0)
  }
  to {
    opacity 0
    -webkit-transform translateX(-30%)
  }
}