@keyframes slideInLeft {
  from {
    opacity: 0;
    -webkit-transform translateX(-100%)
  }
  to {
    opacity: 1;
    -webkit-transform translateX(0)
  }
}
@-webkit-keyframes slideInLeft {
  from {
    opacity: 0;
    -webkit-transform translateX(-100%)
  }
  to {
    opacity: 1;
    -webkit-transform translateX(0)
  }
}

@-moz-keyframes slideInLeft {
  from {
    opacity: 0;
    -webkit-transform translateX(-100%)
  }
  to {
    opacity: 1;
    -webkit-transform translateX(0)
  }
}

@-o-keyframes slideInLeft {
  from {
    opacity: 0;
    -webkit-transform translateX(-100%)
  }
  to {
    opacity: 1;
    -webkit-transform translateX(0)
  }
}


/**
* Slide out right
*/
@keyframes slideOutRight {
  from {
    opacity: 1;
    -webkit-transform translateX(0)
  }
  to {
    opacity: 0;
    -webkit-transform translateX(100%)
  }
}
@-webkit-keyframes slideOutRight {
  from {
    opacity: 1;
    -webkit-transform translateX(0)
  }
  to {
    opacity: 0;
    -webkit-transform translateX(100%)
  }
}

@-moz-keyframes slideOutRight {
  from {
    opacity: 1;
    -webkit-transform translateX(0)
  }
  to {
    opacity: 0;
    -webkit-transform translateX(100%)
  }
}

@-o-keyframes slideOutRight {
  from {
    opacity: 1;
    -webkit-transform translateX(0)
  }
  to {
    opacity: 0;
    -webkit-transform translateX(100%)
  }
}