@import _variables

#schedule-index
  > .title
    margin-bottom: 40px
  .course
    margin-bottom: 10px
    .course-content
      background: $panel-footer-bg
      overflow: hidden
      padding: 0 15px 15px
      .line
        line-height: 30px
