@import _variables

.header
  .site-name
    color: $theme-color

  .session-btns
    margin-top: 20px

  ul.navigation
    list-style: none
    display inline-block
    li
      display inline-block
      border-bottom: 2px solid #fff
      padding 25px 20px 20px
      &:active, &:hover
        color: $theme-color
        border-bottom: 2px solid $theme-color
