@import _variables

.header
  .navbar-brand
    color: $theme-color

  ul.navigation
    list-style: none
    display inline-block
    li
      display inline-block
      border-bottom: 2px solid #fff
      padding 25px 20px 20px
      &:active, &:hover, &.active
        color: $theme-color
        border-bottom: 2px solid $theme-color