@import _variables

.schedule-header
  background: #f0f0f0
  .navbar
    max-height: 50px
    overflow: hidden
    .navbar-header
      padding: 0 15px 15px 0
    .navbar-brand
      padding: 15px 15px 15px
      &:active, &:hover, &.active
        color: #000000
    .navbar-link
      padding: 15px 20px 0 0
      text-decoration: none
      color: #00A000
      &:active, &:hover, &.active
        color: #000000
    .navbar-text
      padding: 3px 130px
  .btn
    margin-top: 7px

#schedule-greed
  > .title
  .lesson-cell
    border: 1px solid #f0f0f0
    border-top: none
    overflow: hidden
    padding: 0 25px 25px
    min-height: 50px
    min-width: 250px
    &:active, &:hover, &.active
      cursor: pointer
    &.current
      border: 1px solid #FF6600
  .lesson-cell-l
    margin-left: -15%
  .lesson-cell-l-t
    border-radius: 10px 10px 0 0
    border-top: 1px solid #f0f0f0
  .lesson-cell-l-b
    border-radius: 0 0 10px 10px
    margin-bottom: 20px
  .lesson-cell-c
    margin-left: 42%
  .lesson-cell-c-t
    border-radius: 10px 10px 0 0
    border-top: 1px solid #f0f0f0
  .lesson-cell-c-b
    border-radius: 0 0 10px 10px
    margin-bottom: 20px
  .lesson-cell-r
    margin-left: 100%
  .lesson-cell-r-t
    border-radius: 10px 10px 0 0
    border-top: 1px solid #f0f0f0
  .lesson-cell-r-b
    border-radius: 0 0 10px 10px
    margin-bottom: 20px
  .lesson-cell-title
    border: none
    max-height: 50px
    max-width: 50px
  .lesson-title
    text-align: center
    padding-top: 5px
    padding-bottom: 5px
    margin-left: 35px
    margin-right: 35px
    color: #000000
    &.current
      border-radius: 10px 10px 10px 10px
      background: #FF6600
      color: #FFFFFF
  .lesson-title-date
    text-align: right
    margin-top: -15%
    margin-right: -5%
    color: #FFFFFF
    &.current
      color: #000000
  .lesson-time
    max-width: 20px
    margin-left: -10%
    margin-bottom: -10%
  .lesson-time-number
    padding-left: 15px
    margin-bottom: -2%
    color: #000000
    &.current
      color: #FF6600
  .lesson-time-start
    color: #000000
    &.current
      color: #FF6600

#wrap
  .lesson-info
    background: #ebebeb
    height: 215px
    width: 100%
    .lesson-info-icons
      padding: 16px 0 0 58px
      float: left
      width: auto
      height: 100%
      a
        margin: 0 0 10px 0
    .lesson-info-data
      float: left
      padding: 12px 0 0 30px
      .lesson-name
        font-size: 17pt
        color: #444444
      .lesson-lecturer
        color: #207E62
        cursor: pointer
      .lesson-start-time
        font-size: 14pt
        color: #444444
    .lesson-info-files
      float: left
      display: inline-block
      padding: 12px 0 0 30px
      width: 90% /*Temp*/
      .lesson-info-files-header
        width: 100%
        h4
          display: inline-block
          margin: 0 10px 0 0
        input
          width: 250px
          height: 30px
      .lesson-info-file-search
        width: 100%
        height: 40px
        padding: 10px 0 0 0
        select
          float: left
          width: 130px
          height: 30px
        input
          float: left
          width: 470px
          height: 30px
      .lesson-info-file-block
        width: 360px
        height: 55px
        border: 2px #929292 solid
        border-radius: 5px
        background-color: #FFFFFF
        margin: 10px 10px 0 0
        float: left
        .btn-edit
          float: right
          margin: 2px
        .file-name
          float: left
          padding: 0 10px 0 10px
          margin-top: 5px
          border-right: 1px solid #606060
          color: #207E62
          cursor: pointer
        .file-size
          float: left
          padding: 5px 0 0 10px
          color: #606060
        .file-comment
          float: left
          padding: 3px 0 0 10px
          color: #7A7A7A
        &:hover
          background-color: #F7F6F6