@import "../_variables"

a.back-btn
  white-space nowrap
  display inline-block
  font-size $font-size-medium
  font-weight 200
  cursor pointer
  padding: 5px 0

  /*@media $media-max-phone*/
  /*display none*/

  span
    margin-left 5px
    display inline-block
  .stico-arrow-right
    margin-top -2px
    vertical-align middle