@import "../_variables"

footer
  position absolute
  bottom -$footer-height
  left 0
  right 0
  height $footer-height
  background $footer-bg
  padding 38px 0
  //padding ceil(($footer-height / 2)  - ($font-size-base / 2) ) 0

  color $footer-color
  a
    font-weight 300
    font-size $font-size-base
    color $footer-link-color
    text-decoration none
    &:hover
      color: $footer-link-hover-color

  .st-clock
    position absolute
    bottom 0
    left 50%
    margin-left -150px
    background-image: url("../images/st-clock.png");
    background-size: 300px 174px;
    width: 300px;
    height: 174px;
    opacity: 0.8

  .feedback
    color $brand-success
    border 2px solid $brand-success
    padding 5px 10px
    border-radius 20px
    text-decoration none
    &:hover
      border 2px solid $brand-warning

  .right-foot
    float right
    a
      display block
      margin-bottom 5px

  .left-foot
    float left
    a, span
      display block

  .first-row
    margin-bottom 18px

  .widgets
    .widget
      color: #fff
      font-size $font-size-medium
      width $footer-widget-size
      height $footer-widget-size
      border-radius $footer-widget-radius
      display inline-block
      margin-top 2px
      line-height $footer-widget-size
      margin-left 15px
      text-align center
      padding 5px 0 0 0

      &:first-child
        margin-left 0
      &.widget-twitter
        background $brand-warning
      &.widget-vk
        background $brand-success
      &.widget-facebook
        background $brand-info

  .navigation
    ul
      margin 0

// iPad
.standalone
  footer
    display none

@media $media-max-phone
  footer
    display none