footer
  margin-top 80px
  background #4b5456
  padding 35px 0
  color #7d8080
  line-height 30px
  a
    color #7d8080
    &:hover
      text-decoration none
      color: #fff

  .widgets
    .widget
      color: #fff
      font-size 18px
      width 30px
      height 30px
      line-height 30px
      display inline-block
      border-radius 15px
      margin-left 15px
      text-align center
      &:first-child
        margin-left 0
      &.widget-twitter
        background #f16520
      &.widget-vk
        background #3baba1
        .fa
          padding-right: 1px
      &.widget-facebook
        background #a2cd5c

  .navigation
    ul
      margin 0
