@import "../_variables"
@import "/bower_components/bootstrap-stylus/stylus/mixins"

// Custom desktop navigation
header
  user-select(none)
  padding-top 10px
  @media $media-min-tablet
    padding-bottom 20px

  nav
    border 0 !important
    height $navbar-height
    white-space nowrap
    .brand
      overflow hidden
      height $navbar-height
      margin-left -5px
      float left
      a
        display block
        cursor default
        text-decoration none !important
        font-size $font-size-large
        i
          vertical-align middle
        span
          color $text-color
          vertical-align middle
          margin-left 10px

    .navbar
      float right
      ul
        float right
        overflow hidden
        background $brand-info-bg
        list-style-type none
        margin 0
        padding 0
        li
          float left
          position relative
          text-align center
          a
            height $navbar-height
            text-align center
            position relative
            display block
            padding (($navbar-height - $line-height-computed)/2) 25px
            color lighten($text-color, 50%)
            text-decoration none

            transition(background 0.2s ease-out)
            &:hover
              background $navbar-default-link-hover-bg
              color lighten($link-color, 20%)
            i
              display none

          &.login-wrap > span
              position relative
              display block
              background lighten($brand-warning, 15%)
              padding (($navbar-height - $line-height-computed)/2) 9px
              color #fff
              cursor pointer
              &:hover
                text-decoration underline

          &.active
            a
              background $navbar-default-link-active-bg
              color $navbar-default-link-active-color !important
              text-decoration none

// Smaller left/right padding of the nav items
@media $media-max-tablet
  header
    nav
      .navbar
        ul
          li
            a
              padding (($navbar-height - $line-height-computed)/2) 14px

// iOS like navigation on mobile
@media $media-max-phone
  header
    padding-top 0

    nav
      padding 0 !important
      .brand
        display none
        margin-left 0
        span
          display none
        i
          margin-left 21px
          margin-top 2px

      ul
        margin 0
        position absolute
        left 0
        right 0
        top 0

        li
          width 33.333333%
          &.login-wrap, &.courses
            display none
          a
            margin 0
            padding 0 !important
            font-size $font-size-small*0.9
            i
              margin-top 4px
              margin-bottom -4px
              display inline-block !important
