@import "../_variables"
@import "/bower_components/bootstrap-stylus/stylus/mixins"

// Custom desktop navigation
header
  user-select(none)
  padding-top: 10px
  nav
    border 0 !important
    .navbar-brand
      cursor default
      span
        margin-left 10px
    ul.nav
      background $brand-info-bg

// iOS like navigation on mobile
@media $media-max-phone
  header
    padding-top 0

    nav
      .navbar-brand
        span
          display none

      ul.nav
        margin 0
        position absolute
        left 67px
        right 0
        top 0
        li
          text-align center
          float left
          width 33.333333%
          a
            margin 0
            padding 6px 0 0 0
            font-size $font-size-small
            span
              margin 0
              display inline-block