@import "../_variables"
@import "/bower_components/bootstrap-stylus/stylus/mixins"

html
  height 100%

body
  min-height 100%
  position relative

a
  cursor pointer
  outline none !important

.rotate-180
  rotate(180deg)