@import "../_variables"
@import "/bower_components/bootstrap-stylus/stylus/mixins"

html
  height 100%

body
  min-height 100%
  position relative

section
  padding-bottom 1px

a
  cursor pointer
  outline none !important

.rotate-180
  rotate(180deg)

.stico-large
  width 35px !important
  height 35px !important
  background-size 35px 35px !important

#content
  overflow-x hidden
