@import "../_variables"
@import "/bower_components/bootstrap-stylus/stylus/mixins"

/*body*/
/*font-family: arial*/
/*font-size: 16px*/
/*color: #4b5456*/

// Disable navigation icons
.nav
  i.fa
    display none


// Animate view changes on standalone mode
// VERY DIRTY HACK
.standalone
  #wrap
    position absolute
    top 0
    left 0
    right 0
    bottom 0

    &.ng-leave
      -webkit-animation: 0.5s empty
      -moz-animation: 0.5s empty
      -o-animation: 0.5s empty
      animation: 0.5s empty
      .animated-view
        -webkit-animation: 0.5s slideOutRight cubic-bezier(0.23, 1, 0.32, 1)
        -moz-animation: 0.5s slideOutRight cubic-bezier(0.23, 1, 0.32, 1)
        -o-animation: 0.5s slideOutRight cubic-bezier(0.23, 1, 0.32, 1)
        animation: 0.5s slideOutRight cubic-bezier(0.23, 1, 0.32, 1)

    &.ng-enter
      -webkit-animation: 0.5s empty
      -moz-animation: 0.5s empty
      -o-animation: 0.5s empty
      animation: 0.5s empty
      z-index 1000
      .animated-view
        height 100%
        -webkit-animation: 0.5s slideInLeft cubic-bezier(0.23, 1, 0.32, 1)
        -moz-animation: 0.5s slideInLeft cubic-bezier(0.23, 1, 0.32, 1)
        -o-animation: 0.5s slideInLeft cubic-bezier(0.23, 1, 0.32, 1)
        animation: 0.5s slideInLeft cubic-bezier(0.23, 1, 0.32, 1)
