@import "../_variables"

.mobile-title
  @media $media-max-phone
    display block

  display none
  overflow hidden
  margin 10px 20px
  .back-btn
    float left
  .title
    line-height 37px
    font-size 18px
    text-align center
    margin-right 50px
    font-weight 500

