@import "../_variables"
@import "/bower_components/bootstrap-stylus/stylus/mixins"

.switcher
  list-style-type none
  margin 0
  padding 0
  overflow hidden

  li
    float left
    a
      line-height 36px
      padding 10px 10px
    &.current
      a
        text-decoration none
        background $brand-info
        color #fff
