header.header.ng-cloak
    nav.navbar.navbar-default(role="navigation")
        .container
            .navbar-header
                a.navbar-brand(href="#")
                    div.stico-logo(ng-class="{'spin-logo': spinLogo}")
                    span {{'layouts.main.site_name' | translate}}
            div.navbar-inner
                ul.nav.navbar-nav.navbar-right
                    li(ng-class='{active: $location.path() == "/" || $routeParams.groupName}')
                        a(href='/{{lastOpenedGroup}}')
                            .visible-xs
                                i.stico-schedule
                            span {{'layouts.main.navigation.shedule' | translate}}
                    li(ng-class='{active: $location.path() == "/places"}')
                        a(href='/places')
                            .visible-xs
                                i.stico-map
                            span {{'layouts.main.navigation.auditoriums' | translate}}
                    li(ng-class='{active: $location.path() == "/courses"}')
                        a(href='/courses')
                            .visible-xs
                                i.stico-spec-courses
                            span {{'layouts.main.navigation.cources' | translate}}