@import '../_variables'

#places-index
  .places-filter
    ul
      margin 0
      padding 0
      li
        display inline-block
        margin-right 1px
        &.active
          background $brand-info
          color #fff
        input
          display none
        label
          padding 10px 15px
          font-weight 400
          margin 0
