@import '../_variables'

#places-index
  margin-bottom 40px
  .sched-week-switcher
    margin-top 4px
  .places-filter
    float left
    ul
      margin 0
      padding 0
      @media $media-max-phone
        margin 0 4px
      li
        color: $link-color
        display inline-block
        margin-right 1px
        margin-bottom 1px
        &:hover
          color $link-hover-color
        &.active
          color: #fff
          background $brand-info
        input
          display none
        label
          cursor pointer
          padding 10px 15px
          font-weight 400
          margin 0

  .places-details
    position relative
    .places
      margin 20px
      color: $brand-info
      span
        display inline-block
        margin-right 15px
        font-size $font-size-medium

