@import "../_variables"
@import "/bower_components/bootstrap-stylus/stylus/mixins"

.faculty-editor
  .ring-editor
    label
      text-align right
      white-space nowrap
      font-size $font-size-medium

    .time-period
      display inline-block
      width 100px

    .date-time-picker
      display inline-block