@import '../_variables'

#schedule-index
  > .title
    margin-bottom: 40px

  .speciality
    width: 25%

  .schedule-table
    display table
    padding 0
    .schedule-row
      display table-row
      .speciality
        display table-cell
        border: 9px solid #fff
        background: #f5f8fa
        h3
          padding 28px 0 0 0
          margin 0
          font-size 30px
        .course-content
          overflow: hidden
          padding: 28px 15px 34px
          .line
            overflow: hidden
            .group
              padding 3px
              color: #839fa5
              text-decoration none
              font-size 16px
              &:hover
                color: #f16520

  .select-group-container
    margin-top 25px
    margin-bottom: 30px
    .select-group-img
      display inline-block
      background-image url(/images/select-group.png)
      width 295px
      height 59px

@media $screen-tablet-media-q
  #schedule-index
    .schedule-table
      display block
      .schedule-row
        display block
        .speciality
          border none
          display block
          width 100%
          background #fff
          h3
            padding 26px 0 25px
            font-size 36px
            background #dce8ec
          .course-content
            padding 11px 0
            .line
              line-height 75px
              .group
                font-family arial
                font-size 28px



    &.container
      max-width 100%
      padding 0
      width 100%
      &.col-md-10
        padding 0

    .select-group-container
      margin-bottom 20px
