@import '../_variables'
@import "/bower_components/bootstrap-stylus/stylus/mixins"


@media $media-min-tablet
  .faculty
    .loading
      display block
      font-size $font-size-large
      padding 0 0 40px 0
      color lighten($text-color, 50%)

    .admins
      padding 20px 0 0 0
      position absolute
      bottom 5px
      left 0
      right 0

      h3
        float left
        font-size $font-size-medium
        line-height 45px
        margin 0
        padding 0 10px 0 0

      .photos
        float left

      .add-admin-btn
        float left
        button
          margin 6px 0 0 10px

    .info
      h2
        position relative
        margin 0
        padding 0 0 20px 0
        text-align center
        .faculty
          text-align center
          display block
          font-size $font-size-large*2
        .uni, .full-name
          padding 0 5px
          font-size $font-size-medium
          font-weight 300
          color lighten($text-color, 50%)
        a
          display block
          position absolute
          top 3px

    .groups
      padding-bottom 80px
      .container
        display table
        width 100%
        padding 0
        margin 0

        h3
          text-align center
          padding 0 0 10px 0

        .row
          display table-row
          .speciality
            float none
            display table-cell
            padding 0
            background $brand-info-bg
            border: 9px solid #fff
            &:first-child
              border-left none
            &:last-child
              border-right none
            .spec-groups
              padding 0 20px 20px 20px
              .course
                overflow: hidden
              a
                display block
                float left
                text-decoration none
                font-size $font-size-medium
                @media $media-min-tablet
                  padding 3px 5px
                @media $media-min-desktop
                  padding 3px 10px

@media $media-max-phone
  .faculty
    .info
      h2
        display none

    .admins
      display none

    .groups .container
      padding 0
      margin 0
      h3
        text-align center
        padding 15px
        margin 0
        font-size $font-size-medium
        border-top 1px solid #fff
        background $brand-info-bg
      .speciality
        padding 0
        .spec-groups
          padding 0
          .course
            overflow: hidden
          a
            display block
            float left
            text-decoration none
            padding 10px 20px
            font-size $font-size-medium