footer.footer.ng-cloak(bindonce)
    .container
        .row
            .widgets.col-md-3.col-xs-6
                a(href='#').widget.widget-twitter
                    i.stico-twitter
                a(href='#').widget.widget-vk
                    i.stico-vk
                a(href='#').widget.widget-facebook
                    i.stico-fb

            .navigation.col-md-6.text-center.visible-md.visible-lg
                ul.list-inline
                    li(bo-html="'layouts.main.about'| translate")
                    li(bo-html="'layouts.main.terms'| translate")
                    li
                        a(href='/humans.txt', target="_blank", bo-html="'layouts.main.authors'| translate")
            .copyright.col-md-3.col-xs-6.text-right(ng-controller='AuthCtrl')
                span(ng-click="authenticate()") ©2013 StudyTime.me
