footer.footer.ng-cloak(bindonce)
    .container
        .row
            .widgets.col-md-3.col-xs-6
                a(href='#').widget.widget-twitter
                    i.fa.fa-twitter
                a(href='#').widget.widget-vk
                    i.fa.fa-vk
                a(href='#').widget.widget-facebook
                    i.fa.fa-facebook

            .navigation.col-md-6.text-center.visible-md.visible-lg
                ul.list-inline
                    li(bo-html="'layouts.main.about'| translate")
                    li(bo-html="'layouts.main.terms'| translate")
                    li
                        a(href='/humans.txt', bo-html="'layouts.main.authors'| translate")
            .copyright.col-md-3.col-xs-6.text-right= "©2013 StudyTime.me"
