header.header.ng-cloak
    .navbar(role="navigation")
        .container
            .navbar-header
                a.navbar-brand(href="#")
                    div.logo
                    span {{ 'layouts.main.site_name' | translate }}
                div(ng-controller="AppCacheUpdateManagerCtrl")
                    div(ng-switch on="appCacheStatus")
                        div(ng-switch-when="2")
                            span Проверка обновлений...
                        div(ng-switch-when="3")
                            span Загрузка новой версии...
                        div(ng-switch-when="4")
                            span Обновление готово
            div
                //form.navbar-form.navbar-right
                //.btn.btn-warning {{ 'buttons.sign_in' | translate }}
                ul.nav.navbar-nav.navbar-right
                    li(ng-class='{active: $location.path() == "/" || $routeParams.groupName}')
                        a(href='/')
                            i.fa.fa-calendar.fa-2x
                            span {{ 'layouts.main.navigation.shedule' | translate }}
                    li(ng-class='{active: $location.path() == "/places"}')
                        a(href='/places')
                            i.fa.fa-map-marker.fa-2x
                            span {{ 'layouts.main.navigation.auditoriums' | translate }}
                    li(ng-class='{active: $location.path() == "/courses"}')
                        a(href='/courses')
                            i.fa.fa-rocket.fa-2x
                            span {{ 'layouts.main.navigation.cources' | translate }}
