header.header
    .navbar.navbar-default(role="navigation")
        .container
            .navbar-header
                a.navbar-brand(href="#")
                    span {{ 'layouts.main.site_name' | translate }}
            div
                form.navbar-form.navbar-right
                    .btn.btn-warning {{ 'buttons.sign_in' | translate }}
                ul.nav.navbar-nav.navbar-right
                    li(ng-class='{active: $location.path() == "/" || $routeParams.groupName}')
                        a(href='/')
                            i.fa.fa-calendar.fa-2x
                            span {{ 'layouts.main.navigation.shedule' | translate }}
                    li(ng-class='{active: $location.path() == "/places"}')
                        a(href='/places')
                            i.fa.fa-crosshairs.fa-2x
                            span {{ 'layouts.main.navigation.auditoriums' | translate }}
                    li(ng-class='{active: $location.path() == "/courses"}')
                        a(href='/courses')
                            i.fa.fa-calendar.fa-2x
                            span {{ 'layouts.main.navigation.cources' | translate }}
