.header
  .container
    .row.text-right
      .col-md-4.text-center
        h2.site-name {{ 'layouts.main.site_name' | translate }}
      .col-md-6.text-center
        ul.navigation
          li {{ 'layouts.main.navigation.shedule' | translate }}
          li {{ 'layouts.main.navigation.auditoriums' | translate }}
          li {{ 'layouts.main.navigation.cources' | translate }}
      .col-md-1.session-btns.text-center
        .btn.btn-warning {{ 'buttons.sign_in' | translate }}