header.header
    .navbar.navbar-default
        .container
            .collapse.navbar-collapse
                a.navbar-brand(href="#") {{ 'layouts.main.site_name' | translate }}
                form.navbar-form.navbar-right
                    .btn.btn-warning {{ 'buttons.sign_in' | translate }}
                ul.nav.navbar-nav.navbar-right
                    li(ng-class='{active: $location.path() == "/" || $routeParams.groupName}')
                        a(href='/') {{ 'layouts.main.navigation.shedule' | translate }}
                    li(ng-class='{active: $location.path() == "/places"}')
                        a(href='/places') {{ 'layouts.main.navigation.auditoriums' | translate }}
                    li(ng-class='{active: $location.path() == "/courses"}')
                        a(href='/courses') {{ 'layouts.main.navigation.cources' | translate }}