.stico-arrow-right
  display inline-block
  background-image url(../images/brand-primary/arrow-right.png)
  background-size 18px 24px
  width 18px
  height 24px

a:hover
  .stico-arrow-right
    background-image url(../images/brand-warning/arrow-right.png)