.stico-cancel
  display inline-block
  background-image url(../images/brand-primary/cancel.png)
  background-size 24px 24px
  width 24px
  height 24px

a:hover
  .stico-cancel
    background-image url(../images/brand-warning/cancel.png)

.current
  .stico-cancel
    background-image url(../images/white/cancel.png) !important