.stico-edit
  display inline-block
  background-image url(../images/brand-primary/edit.png)
  background-size 35px 35px
  width 35px
  height 35px

a:hover, .current
  .stico-edit
    background-image url(../images/brand-warning/edit.png)
