.stico-edit-pen
  display inline-block
  background-image url(../images/brand-primary/edit-pen.png)
  background-size 24px 24px
  width 24px
  height 24px

a:hover
  .stico-edit-pen
    background-image url(../images/brand-warning/edit-pen.png)

.current
  .stico-edit-pen
    background-image url(../images/white/edit-pen.png) !important