.stico-edit
  display inline-block
  background-image url(../images/brand-primary/edit.png)
  background-size 32px 32px
  width 30px
  height 30px

a:hover, .current
  .stico-edit
    background-image url(../images/brand-warning/edit.png)
