@import '../_variables'

i.professors-search
  display inline-block
  background: url(../images/professors-search.png) no-repeat
  background-size: contain
  width 60px
  height: 53px
  margin 0 30px
  @media $media-max-phone
    display none

