.stico-spec-courses
  display inline-block
  background-image url(../images/brand-primary/spec-courses.png)
  background-size 24px 24px
  width 24px
  height 24px

a:hover
  .stico-spec-courses
    background-image url(../images/brand-warning/spec-courses.png)

.active
  .stico-spec-courses
    background-image url(../images/white/spec-courses.png) !important