.stico-vk
  display inline-block
  background-image url(../images/white/vk.png)
  background-size 24px 24px
  width 24px
  height 24px

.stico-fb
  display inline-block
  background-image url(../images/white/fb.png)
  background-size 24px 24px
  width 24px
  height 24px

.stico-twitter
  display inline-block
  background-image url(../images/white/twitter.png)
  background-size 24px 24px
  width 24px
  height 24px