.stico-map
  display inline-block
  background-image url(../images/brand-primary/map.png)
  background-size 24px 24px
  width 24px
  height 24px

a:hover
  .stico-map
    background-image url(../images/brand-warning/map.png)

.active
  .stico-map
    background-image url(../images/white/map.png) !important