.stico-schedule
  display inline-block
  background-image url(../images/brand-primary/schedule.png)
  background-size 24px 24px
  width 24px
  height 24px

a:hover
  .stico-schedule
    background-image url(../images/brand-warning/schedule.png)

.active
  .stico-schedule
    background-image url(../images/white/schedule.png) !important
