.lesson-info-files(ng-controller="ClassAttachmentsCtrl")
    .lesson-info-files-header
        span.att-label Приложения
        .upload-cont
            a.add-btn(ng-click="showUploadDropdown = !showUploadDropdown")
                i.stico-plus
                span Добавить
            span(ng-if="showUploadDropdown")
                .upload-dropdown(click-outside="$parent.showUploadDropdown = false")
                    ul.att-types(ng-init="type='file'")
                        li(ng-class="{'current': type == 'file'}", ng-click="type='file'") Файл
                        li(ng-class="{'current': type == 'link'}", ng-click="type='link'") Ссылка
                    ul.att-sub-types(ng-init="types=[['note','Конспект'], ['book','Учебник'], ['tasks','Задачник'], ['practice','Практика'],['quiz','Билеты'],['other','Другое']]")
                        li(ng-repeat="t in types", ng-click="type == 'link' && addLink(t[0])")
                            input(ng-if="type == 'file'", type="file", ng-file-select="onFileSelect($files, t[0])")
                            span {{t[1]}}

        //label
        //    select
        //        option(value="") Любой преподаватель
        //        option(ng-repeat="p in professors", value="{{p.object}}") {{ p.name }}
    div(breakpoint="min-width: 768px")
        div(ng-if="matches", class="desktop")
            .attachments
                .file-cont(ng-repeat="att in uploadingFiles track by $index", name="form", ng-if="att")
                    form.upload-info-form(role="form", ng-submit="editDone(att)", ng-if="!att.edit_done")
                        .row
                            .col-sm-12
                                input.form-control(type="url", name="url", ng-if="att.just_link", ng-model="att.link", placeholder="Ссылка", required)
                                input.form-control(type="text", name="name", ng-model="att.displayName", placeholder="Название", required)
                                input.form-control(type="text", ng-model="att.description", placeholder="Описание")
                        .row
                            .col-sm-3
                                button.form-control.btn.btn-success(type="submit", ng-disabled="form.$invalid") Готово
                            .col-sm-3(ng-if="!att.just_link")
                                span.progress-percents {{att.progress}}%
                                span.progress-sizes {{att.size | redeableSize}}/{{att.loaded | redeableSize}}
                            .col-sm-3.pull-right
                                button.form-control.btn(type="button", ng-click="abortUpload(att)") Отмена
                    div(ng-if="att.edit_done")
                        .file-header
                            a.file-name(href="{{att.s3 ? 'http://studytime-files.s3-external-3.amazonaws.com/'+att.link : att.link}}", target="_blank") {{ att.displayName }}
                            span.file-size {{ att.size | redeableSize }}
                            span.file-date {{ att.updated | date:'dd MMM yyyy' }}
                            span.progress-percents {{att.progress}}%
                            span.progress-sizes {{att.loaded | redeableSize}}/{{att.size | redeableSize}}
                        .file-descr
                            span.file-comment {{ att.description }}

                .file-cont(ng-repeat="att in attachments track by $index")
                    .file-header
                        a.file-name(href="{{att.s3 ? 'http://studytime-files.s3-external-3.amazonaws.com/'+att.link : att.link}}", target="_blank") {{ att.name }}
                        span.file-size(ng-if="att.size > 0") {{ att.size | redeableSize }}
                        span.file-date {{ att.creation_date | date:'dd MMM yyyy' }}
                    .file-descr
                        span.file-comment {{ att.description }}

        div(ng-if="!matches", class="mobile")
            .attachments
                a.file-cont(ng-repeat="att in attachments", target="_blank", href="{{att.s3 ? 'http://studytime-files.s3-external-3.amazonaws.com/'+att.link : att.link}}")
                    .file-header
                        span.file-name {{ att.name }}
                    .file-descr
                        span.file-comment {{ att.description }}
                    .file-details
                        span.file-size(ng-if="att.size > 0") {{ att.size | redeableSize }}
                        span.file-date {{ att.creation_date | date:'dd MMM yyyy' }}

        .no-attachments(ng-if="attachments && attachments.length == 0") Нет приложений