.lesson-info-files(ng-controller="ClassAttachmentsCtrl")
    .lesson-info-files-header
        span.att-label Приложения
        .upload-cont
            a.add-btn(ng-click="showUploadDropdown = !showUploadDropdown")
                i.stico-plus
                span Добавить
            span(ng-if="showUploadDropdown")
                .upload-dropdown(click-outside="$parent.showUploadDropdown = false")
                    ul.att-types(ng-init="type='file'")
                        li(ng-class="{'current': type == 'file'}", ng-click="type='file'") Файл
                        li(ng-class="{'current': type == 'link'}", ng-click="type='link'") Ссылка
                    ul.att-sub-types(ng-init="types=[['note','Конспект'], ['book','Учебник'], ['tasks','Задачник'], ['practice','Практика'],['quiz','Билеты'],['other','Другое']]")
                        li(ng-repeat="t in types", ng-click="type == 'link' && addLink(t[0])")
                            input(ng-if="type == 'file'", type="file", ng-file-select="onFileSelect($files, t[0])")
                            span {{t[1]}}
        label
            select
                option(value="") Любой преподаватель
                option(ng-repeat="p in professors", value="{{p.object}}") {{ p.name }}
    .attachments
        .file-cont(ng-repeat="att in attachments")
            .file-header
                a.file-name(href="{{att.s3 ? 'http://studytime-files.s3-external-3.amazonaws.com/'+att.link : att.link}}") {{ att.name }}
                span.file-size {{ att.size | redeableSize }}
                span.file-date {{ att.updated | date:'dd MMM yyyy' }}
            .file-descr
                span.file-comment {{ att.description }}