.lesson-info-files.col-xs-12(ng-controller="ClassAttachmentsCtrl")
    .lesson-info-files-header
        span.att-label Приложения
        a.add-btn(href="javascript:")
            i.stico-plus
            span Добавить

        label
            select
                option Кошелев Антон Александрович
                option Рогожин Сергей Алексеевич
    .attachments
        .file-cont
            .file-header
                a.file-name(href="javascript:") Вопросы-к-экзамену1.pdf
                span.file-size 5Mb
                span.file-date 21 октября 2013
            .file-descr
                span.file-comment Темы 1 семестра

        .file-cont
            .file-header
                a.file-name(href="javascript:") Вопросы-к-экзамену1.pdf
                span.file-size 5Mb
                span.file-date 21 октября 2013
            .file-descr
                span.file-comment Темы 1 семестра

        .file-cont
            .file-header
                a.file-name(href="javascript:") Вопросы-к-экзамену1.pdf
                span.file-size 5Mb
                span.file-date 21 октября 2013
            .file-descr
                span.file-comment Темы 1 семестра