.lesson-details(ng-controller="ClassIndexCtrl")
    .container
        .close-btn
            a(href="/{{$routeParams.groupName}}")
                i.stico-cross

        .lesson-info-icons-cont
            ul.lesson-info-icons
                li(ng-class="{'active':viewType=='info' || !viewType}")
                    a(ng-click="viewType='info'", href='')
                        i.stico-info
                li(ng-class="{'active':viewType=='attachments'}")
                    a(ng-click="viewType='attachments'", href='')
                        i.stico-files

        div.row-fluid(ng-switch on="viewType")
            div(ng-switch-default)
                div(ng-include, src="'app/partials/schedules/class/info.jade'")
            div(ng-switch-when="attachments")
                div(ng-include, src="'app/partials/schedules/class/attachments.jade'")