@import "../_variables"
@import "/bower_components/bootstrap-stylus/stylus/mixins"

html
  height 100%

body
  min-height 100%
  position relative

a
  cursor pointer

// For preventing AngularJS blink
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important

// Loading bar
.loading-container
  font-size $font-size-large
  text-align center
  padding 50px 0
  font-weight 300
  color lighten($brand-primary, 70%)
  position absolute
  z-index 10000000000
  left 50%
  margin-left -80px
  -webkit-animation: fadeInLong 1.5s cubic-bezier(1, .04, .54, 1);
  -moz-animation: fadeInLong 1.5s cubic-bezier(1, .04, .54, 1);
  -ms-animation: fadeInLong 1.5s cubic-bezier(1, .04, .54, 1);
  -o-animation: fadeInLong 1.5s cubic-bezier(1, .04, .54, 1);
  animation: fadeInLong 1.5s cubic-bezier(1, .04, .54, 1);


// Overlay for disabling any interraction from user
.overlay
  background-color rgb(255, 255, 255)
  bottom 0
  left 0
  position fixed
  right 0
  top 0
  opacity 0
  z-index 1000000

// Make some space from footer to content
#wrap
  padding-bottom $footer-height

.rotate-180
  rotate(180deg)

.under-dev
  color lighten($text-color, 50%)
  font-weight 300
  font-size $font-size-medium

label.select
  position relative
  outline none
  &:after
    content:'<>';
    font: $font-size-small "Consolas", monospace;
    color: lighten($brand-primary, 80%);
    rotate(90deg)
    right:4px;
    top:11px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
    letter-spacing 1px

  &:before
    content:'';
    border-radius:4px;
    right:-3px;
    top:5px;
    width:28px;
    height:25px;
    background:#fff;
    position:absolute;
    pointer-events:none;
    display:block;

  // Stylish select
  select
    display inline-block
    vertical-align middle
    padding: 3px 10px;
    margin: 5px 0 0 10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #fff;
    color: $brand-primary;
    border:none;
    outline:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    font-size $font-size-base
    height 25px

  @media screen and (-webkit-min-device-pixel-ratio:0)
    select
      padding-right 30px


// Animate view changes on standalone mode
.standalone
  .overthrow
    overflow auto
    -webkit-overflow-scrolling touch
    position absolute
    top 0
    left 0
    right 0
    bottom 0

    .animated-view
      padding-top $navbar-height + 20
      background #fff

  #wrap
    position absolute
    top 0
    left 0
    right 0
    bottom 0

    &.ng-leave
      -webkit-animation: 0.5s empty
      -moz-animation: 0.5s empty
      -o-animation: 0.5s empty
      animation: 0.5s empty
      .animated-view
        -webkit-animation: 0.5s slideOutRight cubic-bezier(0.23, 1, 0.32, 1)
        -moz-animation: 0.5s slideOutRight cubic-bezier(0.23, 1, 0.32, 1)
        -o-animation: 0.5s slideOutRight cubic-bezier(0.23, 1, 0.32, 1)
        animation: 0.5s slideOutRight cubic-bezier(0.23, 1, 0.32, 1)

    &.ng-enter
      -webkit-animation: 0.5s empty
      -moz-animation: 0.5s empty
      -o-animation: 0.5s empty
      animation: 0.5s empty
      z-index 1000
      .animated-view
        height 100%
        -webkit-animation: 0.5s slideInLeft cubic-bezier(0.23, 1, 0.32, 1)
        -moz-animation: 0.5s slideInLeft cubic-bezier(0.23, 1, 0.32, 1)
        -o-animation: 0.5s slideInLeft cubic-bezier(0.23, 1, 0.32, 1)
        animation: 0.5s slideInLeft cubic-bezier(0.23, 1, 0.32, 1)


@media $media-max-phone
  #wrap
    min-height 0 !important
    height auto !important
    padding-bottom 10px

  .expander
    height 300px