.lesson-details(ng-controller="ClassIndexCtrl", click-outside="closeDetails()", exclude=".lesson-atom-cell")
    .container
        .lesson-info-icons-cont
            ul.lesson-info-icons
                li(ng-class="{'active':viewType=='info' || !viewType}")
                    a(ng-click="viewType='info'")
                        i.stico-info
                li(ng-class="{'active':viewType=='attachments'}")
                    a(ng-click="viewType='attachments'")
                        i.stico-files

        div.row.details-row(ng-switch on="viewType")
            div(ng-switch-default)
                div.col-xs-12(ng-include, src="'app/partials/schedules/class/info.jade'")
            div(ng-switch-when="attachments")
                div.col-xs-12(ng-include, src="'app/partials/schedules/class/attachments.jade'")
            .close-btn
                a(href="/{{$routeParams.groupName}}")
                    i.stico-cross