.overthrow.non-bounce
    .animated-view
        .schedule-header
            .container
                span.under-dev В разработке
            //div(ng-include, src="'app/partials/places/schedule.jade'")