#schedule-greed(breakpoint="min-width: 768px")
    // Three columns
    div(ng-if="matches", class="desktop")
        // Navigation
        .schedule-header
            .navbar.navbar-default
                .container
                    .row
                        .col-sm-4
                            a.back-btn(ng-click="showGroups()")
                                .back-logo-square
                                    i.stico-groups-list
                                span.group-name {{$routeParams.groupName}}
                            #sched-nav-left
                        #sched-nav-center
                        #sched-nav-right

    // One column
    div(ng-if="!matches", class="mobile")
        // Navigation
        .schedule-header
            .navbar.navbar-default
                .container
                    .row
                        .col-xs-4
                            a.back-btn(ng-click="showGroups()")
                                i.stico-arrow-right.rotate-180
                                span {{'schedules.navigation.groups' | translate}}
                            #sched-nav-left
                        #sched-nav-center
                        #sched-nav-right