div(move-content-to="sched-nav-left")
    .type-changer(ng-if="exams > 0", bindonce)
        a(ng-class="{'active': showingState == 'studies'}", ng-click="showScheduleType('studies')", bo-html="'schedules.navigation.semestr' | translate")
        a(ng-class="{'active': showingState == 'exams'}", ng-click="showScheduleType('exams')", bo-html="'schedules.navigation.session' | translate")
div(move-content-to="sched-nav-center")
    .col-sm-4.text-center(bindonce)
        span.schedule-updated-text
            span(ng-if="updated", bo-html="'{{'schedules.navigation.updated' | translate}} ' + '{{ updated | relativeDate}}'")
            span(ng-if="!updated", bo-html="'schedules.navigation.updating' | translate")
div(move-content-to="sched-nav-right")
    div(ng-if="!exam_parts")
        .col-sm-4.text-right(ng-if="!in_feature")
            .next-week-btn(bindonce)
                a(ng-click="nextWeek()")
                    span(bo-html="'schedules.index.next_week' | translate")
                    i.stico-arrow-right
        .col-sm-4.text-right(ng-if="in_feature")
            .next-week-btn(bindonce)
                a(ng-click="prevWeek()")
                    i.stico-arrow-right.rotate-180
                    span {{dowDates['Mon'] | date: 'dd MMM'}}
                span &#8211;
                a(ng-click="nextWeek()")
                    span {{dowDates['Sat'] | date: 'dd MMM'}}
                    i.stico-arrow-right