@import "../_variables"
@import "/bower_components/bootstrap-stylus/stylus/mixins"

// Custom desktop navigation
header
  user-select(none)
  padding-top: 10px
  nav
    border 0 !important
    .navbar-brand
      cursor default
      padding 2px
      white-space nowrap
      div
        float left
        vertical-align inherit
        margin-left 10px
      span
        display inline-block
        margin-top -4px
        margin-left 10px
        line-height $navbar-height

    ul.nav
      background $brand-info-bg

    .spin-logo
      vertical-align middle
      display block
      float left
      -webkit-animation: spin 2s infinite linear;
      -moz-animation: spin 2s infinite linear;
      -ms-animation: spin 2s infinite linear;
      -o-animation: spin s infinite linear;
      animation: spin 2s infinite linear;


// iPad/iPhone standalone header
.standalone
  .header
    padding 0
    position absolute
    top 0
    left 0
    right 0
    opacity 0.85
    z-index 100000
  @media $media-min-tablet
    .navbar-brand
      padding 0

// iOS like navigation on mobile
@media $media-max-phone
  header
    padding-top 0

    nav
      .navbar-brand
        padding-left 6px
        padding-right 10px
        span
          display none
        div
          margin-left 0px

      ul.nav
        margin 0
        position absolute
        left 57px
        right 0
        top 0
        li
          text-align center
          float left
          width 33.333333%
          a
            margin 0
            padding 6px 0 0 0
            font-size $font-size-small
            div
              margin 0
              line-height 0
            span
              margin 0
              display inline-block