@import "/bower_components/bootstrap-stylus/stylus/mixins"

@keyframes empty {
  from {
    -webkit-transform translateX(0)
  }
  to {
    -webkit-transform translateX(0)
  }
}

.max-height-transition {
  transition(max-height 0.7s cubic-bezier(0.23, 1, 0.32, 1))
}
.height-transition
  &.ng-animate
    display none
    overflow hidden

@-webkit-keyframes empty {
  from {
    -webkit-transform translateX(0)
  }
  to {
    -webkit-transform translateX(0)
  }
}

@-moz-keyframes empty {
  from {
    -webkit-transform translateX(0)
  }
  to {
    -webkit-transform translateX(0)
  }
}

@-o-keyframes empty {
  from {
    -webkit-transform translateX(0)
  }
  to {
    -webkit-transform translateX(0)
  }
}

/**
* Slide in from left
*/
@keyframes slideInLeft {
  from {
    -webkit-transform translateX(100%)
  }
  to {
    -webkit-transform translateX(0)
  }
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform translateX(100%)
  }
  to {
    -webkit-transform translateX(0)
  }
}

@-moz-keyframes slideInLeft {
  from {
    -webkit-transform translateX(100%)
  }
  to {
    -webkit-transform translateX(0)
  }
}

@-o-keyframes slideInLeft {
  from {
    -webkit-transform translateX(100%)
  }
  to {
    -webkit-transform translateX(0)
  }
}

/**
* Slide out right
*/
@keyframes slideOutRight {
  from {
    opacity 1
    -webkit-transform translateX(0)
  }
  to {
    opacity 0.3
    -webkit-transform translateX(-50%)
  }
}

@-webkit-keyframes slideOutRight {
  from {
    opacity 1
    -webkit-transform translateX(0)
  }
  to {
    opacity 0.3
    -webkit-transform translateX(-50%)
  }
}

@-moz-keyframes slideOutRight {
  from {
    opacity 1
    -webkit-transform translateX(0)
  }
  to {
    opacity 0.3
    -webkit-transform translateX(-50%)
  }
}

@-o-keyframes slideOutRight {
  from {
    opacity 1
    -webkit-transform translateX(0)
  }
  to {
    opacity 0.3
    -webkit-transform translateX(-50%)
  }
}