.stico-cross
  display inline-block
  background-image url(../images/brand-primary/cross.png)
  background-size 24px 24px
  width 24px
  height 24px

a:hover
  .stico-cross
    background-image url(../images/brand-warning/cross.png)