.stico-files
  display inline-block
  background-image url(../images/brand-primary/files.png)
  background-size 25px 25px
  background-repeat no-repeat
  background-position 2px 2px
  width 30px
  height 30px

a:hover
  .stico-files
    background-image url(../images/brand-warning/files.png)

.active
  .stico-files
    background-image url(../images/white/files.png) !important