.stico-info
  display inline-block
  background-image url(../images/brand-primary/info.png)
  background-size 30px 30px
  width 30px
  height 30px

a:hover
  .stico-info
    background-image url(../images/brand-warning/info.png)

.active
  .stico-info
    background-image url(../images/white/info.png) !important