.stico-plus
  display inline-block
  background-image url(../images/brand-primary/plus.png)
  background-size 24px 24px
  width 24px
  height 24px

a:hover
  .stico-plus
    background-image url(../images/brand-warning/plus.png)