@import '../_variables'

#professors-index
  margin-top: 30px
  .filter
    /*margin-bottom 34px*/
    img
      width 60px
      margin 0 30px
    input
      width 728px
      border 3px solid $brand-info
      border-radius 3px
      height 41px
      line-height 41px
      font-size 16px
      padding 0 5px
      color: #373d3f

  .professors
    margin-bottom 40px
    .professor
      color: #c0c2c1
      text-align center
      margin-top: 50px
      img
        width 136px
        height 136px
        border-radius 68px
        margin-bottom 15px
      .second-name
        font-size 18px
      .first-name
        font-size 14px

      &:hover
        color: $brand-info
        margin-top: 33px
        img
          border 5px solid $brand-info
          border-radius 76px
          width 153px
          height 153px


