@import '../_variables'

#professors-show
  .professor
    margin-bottom 20px
    .container
      position relative
    img
      position absolute
      top 25px
      width 187px
      height 187px
      border-radius 94px
    .full-name-wrap
      font-size 24px
      background #d5e2ea
      padding 30px 0 18px
      .full-name
        margin-left 220px

    .card
      background $brand-info-bg
      table
        margin 30px 0 35px 220px
        font-size 16px
        tr
          td
            padding-bottom 8px
          td:first-child
            font-weight bold
            padding-right: 25px

  /*.professor-schedule*/

