div.tests-and-exams(ng-controller='SchedulesExamsCtrl')
    #schedule-greed(breakpoint="min-width: 768px")
        div(ng-if="matches", class="desktop")
            // Navigation
            .schedule-header
                .navbar.navbar-default
                    .container.row-fluid(bindonce)
                        .col-sm-4
                            a.back-btn(ng-click="showGroups()")
                                .back-logo-square
                                    i.stico-groups-list
                                span.group-name(bo-html="$routeParams.groupName")
                            .type-changer
                                a(ng-click="showScheduleType('studies')") Семестр
                                a.active Сессия
                        .col-sm-4.text-center
                            span.schedule-updated-text
                                span(ng-if="last_update", bo-html="'Обновлено ' + '{{ last_update | relativeDate}}'")
                                span(ng-if="!last_update") Проверка обновлений...

        div(ng-if="!matches", class="mobile")
            // Navigation
            .schedule-header
                .navbar.navbar-default
                    .row-fluid(bindonce)
                        .col-xs-4
                            a.back-btn(ng-click="showGroups()")
                                i.stico-arrow-right.rotate-180
                                span Группы
                        .col-xs-4.text-center.nav-middle
                            span.group-name(ng-if="last_update", bo-html="$routeParams.groupName")
                            span.schedule-updated-text
                                span(ng-if="!last_update") Обновление...
                        //(ng-if="group && group.state=='exams'")
                        .col-xs-4.text-right
                            .type-changer
                                a(ng-click="showScheduleType('studies')")
                                    span Семестр


        .session-part(ng-repeat="part in parts")
            .container
                .row-fluid
                    .col-sm-12
                        h2 {{part.name}} с {{this[part.type+'_bounds'][0] | date: 'd MMM'}} по {{this[part.type+'_bounds'][1] | date: 'd MMM'}}

            div(ng-repeat="test in this[part.type] | orderBy: 'activity.start':false")
                .info.container.row-fluid(ng-class="{'started': test.started}")
                    .col-sm-12
                        a(ng-click="showDetails(test.dow, test.number, test.index)")
                            span.date {{test.activity.start | date: 'd MMM'}}
                            span.time {{test.time.start | minutesToHours}}
                            span.name {{test.subject.name}}
                            span.teacher {{test.professor[0].name}}
                            span.audit {{test.place[0].name}}

                .lesson-details-container.height-transition(ng-if="$routeParams.weekDay == test.dow && $routeParams.classNum == test.number && $routeParams.atomClass == test.index")
                    div(ng-include, src="'app/partials/schedules/class/session-index.jade'")

