.overthrow.non-bounce
    .animated-view
        .hidden-xs(ng-if="$isAdmin")
            div(ng-include, src="'app/partials/schedules/editor.jade'")

        div(ng-include, src="'app/partials/schedules/navigation.jade'")

        div(ng-switch on='showingState')
            div(ng-switch-when="studies")
                div(ng-include, src="'app/partials/schedules/studies.jade'")
            div(ng-switch-when="exams")
                div(ng-include, src="'app/partials/schedules/exams.jade'")
            div(ng-switch-when="vacation")
                div(ng-include, src="'app/partials/schedules/vacation.jade'")