#schedule-greed(breakpoint="min-width: 768px")
    // Three columns
    div(ng-if="matches", class="desktop", ng-init="lines=[['Mon', 'Tue', 'Wed'], ['Thu', 'Fri', 'Sat']]", bindonce)
        // Navigation
        .schedule-header
            .navbar.navbar-default
                .container.row-fluid(bindonce)
                    .col-sm-4
                        a.back-btn(ng-click="showGroups()")
                            .back-logo-square
                                i.stico-groups-list
                            span.group-name(bo-html="$routeParams.groupName")
                        #sched-nav-left
                    .col-sm-4.text-center
                        span.schedule-updated-text
                            span(ng-if="sched_shared.last_update != 0", bo-html="'Обновлено ' + '{{ sched_shared.last_update | relativeDate}}'")
                            span(ng-if="sched_shared.last_update == 0") Проверка обновлений...
                    #sched-nav-right

    // One column
    div(ng-if="!matches", ng-init="lines=['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']", bindonce, class="mobile")
        // Navigation
        .schedule-header
            .navbar.navbar-default
                .row-fluid(bindonce)
                    .col-xs-4
                        a.back-btn(ng-click="showGroups()")
                            i.stico-arrow-right.rotate-180
                            span Группы
                        #sched-nav-left
                    .col-xs-4.text-center.nav-middle
                        span.group-name(ng-if="sched_shared.last_update != 0", bo-html="$routeParams.groupName")
                        span.schedule-updated-text
                            span(ng-if="sched_shared.last_update == 0") Обновление...
                    #sched-nav-right