div(ng-controller='SchedulesStudiesCtrl')
    // Schedule navigation
    .schedule-header
        .navbar.navbar-default
            .container.row-fluid(bindonce)
                .col-sm-4
                    a.back-btn(href="#", ng-click="showGroups()")
                        div.back-logo-square
                            i.the-icon
                        span.group-name(bo-html="$routeParams.groupName")
                .col-sm-4.text-center
                    span.schedule-updated-text
                        span(ng-if="last_update", bo-html="'Обновлено ' + '{{ last_update | relativeDate}}'")
                        span(ng-if="!last_update") Проверка обновлений...
                .col-sm-4.text-right
                    a.next-week-btn
                        span(bo-html="'schedules.index.next_week' | translate")
                        i.fa.fa-angle-right

    div(ng-if="sched")
        #schedule-greed(breakpoint="min-width: 768px", class="week-{{currentParity}}", ng-init="classes=['1','2','3','4','5','6']")
            // Three columns
            div(ng-if="matches", ng-init="lines=[['Mon', 'Tue', 'Wed'], ['Thu', 'Fri', 'Sat']]", bindonce)
                .lessons-desktop(ng-repeat="line in lines")
                    .container.row-fluid
                        .col-sm-4(ng-repeat="dow in line")
                            h5.lesson-cell-title(ng-class="{'current': currentDow == dow}")
                                span.lesson-cell-title-day(bo-html="'schedules.studies.'+dow | translate")
                                div.lesson-cell-title-date {{ dowDates[dow] | date: 'd MMM' }}
                    .lessons-row(ng-repeat="class in classes")
                        .container.row-fluid
                            .lesson-time-wrapper
                                .lesson-time(ng-class="{'current': currentClass == class && in(currentDow, line)}")
                                    h4.lesson-time-number(bo-html="class")
                                    h5.lesson-time-start(bo-html="timing[class].start | minutesToHours")
                            .lesson-cell-wrapper.col-sm-4(ng-repeat="dow in line")
                                .lesson-cell(ng-class="{'current': currentDow == dow && currentClass == class}")
                                    .arrow(ng-if="$routeParams.classNum == class && $routeParams.weekDay == dow")
                                    .lesson-atom-cell(ng-repeat="atom in sched[dow][class]",
                                    class="lesson-parity-{{ atom.parity }} lesson-half-{{ atom.half_group }}",
                                    ng-click="columnIndex = $index; showDetails(dow, class, $index, line)")
                                        span.lesson-name {{atom.subject.name}}
                                        span.lesson-place(ng-repeat="p in atom.place") {{ p.name }}
                        .lesson-details-container.height-transition(ng-if="$routeParams.classNum == class && in($routeParams.weekDay, line)")
                            div(ng-include, src="'app/partials/schedules/class/index.jade'")
            // One column
            div(ng-if="!matches", ng-init="lines=[['Mon'], ['Tue'], ['Wed'], ['Thu'], ['Fri'], ['Sat']]")
                .lessons-mobile(ng-repeat="line in lines", bindonce)
                    .row-fluid(ng-repeat="dow in line", bindonce)
                        .lesson-cell.lesson-cell-title
                            h4.lesson-cell-title-day {{ 'schedules.studies.'+dow | translate }}
                            h5.lesson-cell-title-date {{ '7 окт.' }}
                    .row-fluid(ng-repeat="class in classes")
                        .lesson-cell.lesson-cell-mobile(ng-if="class != 6")
                            .lesson-time.lesson-time-mobile
                                h4.lesson-time-number {{ class }}
                                h5.lesson-time-start {{ timing[class].start | minutesToHours }}
                        .lesson-cell.lesson-cell-mobile.lesson-cell-mobile-bottom(ng-if="class == 6")
                            .lesson-time.lesson-time-mobile
                                h4.lesson-time-number {{ class }}
                                h5.lesson-time-start {{ timing[class].start | minutesToHours }}