div(ng-controller='SchedulesStudiesCtrl')
    div(breakpoint="min-width: 768px")
        div(ng-if="matches")
            div(ng-include, src="'app/partials/schedules/navigation/desktop.jade'")
            schedule(desktop, timing="timing", update="filterSchedule", current-date="currentDate", dow-dates="dowDates")
            div(ng-include, src="'app/partials/schedules/cell.jade'")
        div(ng-if="!matches")
            div(ng-include, src="'app/partials/schedules/navigation/mobile.jade'")
            schedule(mobile, timing="timing", update="filterSchedule", current-date="currentDate", dow-dates="dowDates")
            div(ng-include, src="'app/partials/schedules/cell.jade'")